<!-- <input type="text" appColorful style="width: 30rem; border-width: 1rem;"> -->
<!-- <app-user></app-user> -->

<!-- <p appAppHighlight [heightlightColor]="color">Heloo Hadi</p> -->
<!-- <p  [appAppHighlight]="color" >Heloo Hadi</p> -->

<hr>

<!-- <div *appCrousel="let image = $implicit from images"></div>  -->
<div *appCrousel="let image from images autoplay 'Yes'; let ctrl = controller" >
    <img [src]="image">
    <button (click)="ctrl.next()">Next</button>
    <button (click)="ctrl.prev()">Previous</button>
</div> 


<!-- <ng-template [appCarousel]> 
    <div>
    </div>
</ng-template>  -->
